openapi: 3.2.0
info:
  title: CoyoteGO Associated Entities API
  description: '# Introduction


    Welcome to CoyoteGO''s API Documentation.'
  contact:
    name: API Management
    email: apimanagement@coyote.com
  version: v0.1.1.2549
  x-logo:
    url: https://coyote.com/wp-content/uploads/2020/02/APILogo-transparent.png
    altText: Coyote
servers:
- url: https://api.demo.coyote.com
  description: Demo
- url: https://api.coyote.com
  description: Production
- url: https://api-sandbox.coyote.com
  description: Sandbox
tags:
- name: Associated Entities API
paths:
  /api/v1/AssociatedEntities:
    get:
      tags:
      - Associated Entities API
      summary: Get associated entities
      description: Allows Coyote's Carrier and Shipper partners to retrieve all associated entities to their account that can be transacted on behalf of via our API.
      responses:
        '200':
          description: Associated entities retrieved and returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coyote.Systems.ExternalApi.Contracts.Models.AssociatedEntities.AssociatedEntity'
              example:
              - id: 52042
                name: ABC Company
              - id: 52043
                name: XYZ Company
        '204':
          description: Associated entities do not exist for the requested entity
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      operationId: getApiV1AssociatedEntities
      x-operation-id-source: derived
components:
  schemas:
    Coyote.Systems.ExternalApi.Contracts.Models.AssociatedEntities.AssociatedEntity:
      type: object
      properties:
        id:
          type: integer
          description: Coyote entity Id
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Coyote entity name
      additionalProperties: false
      description: Associated Entity response
